body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 10;
    padding: 10;
    background-color: #069df5;
}

.contant {
    max-width:800px;
    margin: 200px auto;
    background: rgb(194, 228, 233);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align:center;
}


h1, h2 {
    color: hsl(170, 90%, 4%);
}

.contact {
    margin-top: 20px;
}

